@import './variables';

.profile {
  .name {
    font-size: 60px;
  }

  .basics {
    font-size: 20px;
    border: 5px solid $secondary;
    width: 33%;
    min-width: 250px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .property {
    color: $secondary;
  }

  .title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 24px;
  }

  .back-section {
    color: $tertiary;
    text-decoration: none;

    .back-icon {
      fill: $tertiary;
      cursor: pointer;
    }

    .back-text {
      color: $tertiary;
      cursor: pointer;
      margin-left: 5px;
      margin-bottom: 15px;
      text-decoration: underline;
    }
  }

  .planet {
    color: $tertiary;
  }
}
